<h1>Email Form</h1>
<form action="/email/email_send" method="get">
	Email: <input type="text" name="email"><br>
	Conent: <textarea name="content"></textarea>
	<input type="submit" value="send">
</form>
